.web
.states
*.py[cod]
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments
.venv/
env/
venv/

# Testing & Cache
.pytest_cache/
.coverage
htmlcov/

# Reflex specific
.states/
.web/
assets/external/

# Binaries & SQLite
cloudflared.exe
*.db
*.db-shm
*.db-wal
*:Zone.Identifier

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Testes Locais e Automacoes
.automacao/
